# Session-based Recs with Transformers4Rec

Followed a step by step tutorial:
https://nvidia-merlin.github.io/Transformers4Rec/main/examples/tutorial/index.html

## Imports

In [3]:
import os
import numpy as numpy
import gc
import shutil
import glob
import pandas as pd

## Data

- publicly available eCommerce dataset
- each row represents an event
- events are related to products and users
- each event has many-to-many relation between products and users
https://www.kaggle.com/mkechinov/ecommerce-behavior-data-from-multi-category-store \
**ONLY 2019-Oct.csv USED FOR TRAINING**

In [9]:
# define where the data is kept
INPUT_DATA_DIR = os.environ.get("INPUT_DATA_DIR", './data/')

In [10]:
%%time
raw_df = pd.read_csv(os.path.join(INPUT_DATA_DIR, '2019-Oct.csv'))

CPU times: user 50.4 s, sys: 20.3 s, total: 1min 10s
Wall time: 1min 17s

In [11]:
raw_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [12]:
raw_df.shape

(42448764, 9)