# Session-based Recs with Transformers4Rec: ETL

Followed a step by step tutorial:
https://nvidia-merlin.github.io/Transformers4Rec/main/examples/tutorial/index.html

## Imports

In [2]:
import os
import numpy as np
import pandas as pd
import glob

## Read E-Commerce Data

In [6]:
# define where the data is kept
INPUT_DATA_DIR = os.environ.get("INPUT_DATA_DIR", '../data/')
df = pd.read_csv(os.path.join(INPUT_DATA_DIR, '2019-Oct-Processed.csv'), index_col=0)

In [7]:
df.head()

,event_type,product_id,category_id,category_code,brand,price,user_id,event_time_ts,user_session,prod_first_event_time_ts
0,view,1004768,2053013555631882655,electronics.smartphone,samsung,251.47,546521725,1570361085000000000,2,1569890856000000000
1,view,1005098,2053013555631882655,electronics.smartphone,samsung,152.58,546521725,1570361154000000000,2,1569896681000000000
2,view,1005073,2053013555631882655,electronics.smartphone,samsung,1153.03,546521725,1570361159000000000,2,1569888057000000000
3,view,1004871,2053013555631882655,electronics.smartphone,samsung,286.60,546521725,1570361199000000000,2,1569896322000000000
4,view,1004751,2053013555631882655,electronics.smartphone,samsung,197.15,546521725,1570361213000000000,2,1569896971000000000